@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: black;

  
}

ul {
  list-style-type: disc;
}


body {
  background-color: #01333A; /* Update the background color here */
}

.ui-page {
  height: 90vh;
}

header {
  height: 10vh;
  background-color: #01333A;
}

#videoUploadProgressBar {
  height: 15px;
  width: 80%;
  border-radius: 10px;
}

.admin .image div{
  transition: .2s ease-in;
}

.admin .image:hover div{
  opacity: 1;
}

table,th,td{
  padding: 5px 10px;
}

.tempahan .options{
  transition: .2s ease-in;
  opacity: 0;
  pointer-events: none;
}

.tempahan:hover .options{
  opacity: 1;
  pointer-events: all;
}

.putihkan-latar-belakang {
  background-color: white;
}

.MuiPaper-root.MuiMenu-paper ul li {
    color: black;
}

html body{
  overflow-x: visible;
}


.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: black;
}

.text {
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.logo-container {
  width: 100%;
  max-width: 70px; /* Adjust as needed */
}
 
.logo {
  width: 100%;
  height: auto;
}

/* Media query for larger devices */
@media (min-width: 500px) {
  .logo-container {
      max-width: 70px; /* Adjust as needed */
  }
}
